#messages li{
    list-style-type: none;
}

body
{
    font-family: sans-serif;
    color: #3c3939;
    background-color: white;
}

.container {
    display: grid;
    height: 100vh;
    max-width: 60rem;
    margin: 0 auto;
    grid-template-columns: [content-start] 2fr [content-end vehicle-start] 1fr [vehicle-end];
    grid-template-rows: [cv-start cv-end]
}

.profile-card {
    grid-column: content-start / content-end;
    grid-row: cv-start / cv-end;
}

.profile-card
{
    width: 400px;
    margin:auto;
    background: #ecb807;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    position: relative;
}

.title
{
    position: absolute;
    left: 15px;
    bottom:0;

}
.title h2 {
    color: white;
}

.image-container
{
    position: relative;

}

.main-container
{
    position: absolute;
    right: 50px;
}

.info
{
    color: #4b4fe2;
    margin-right: 16px;
}

.vehicle-card {
    grid-column: vehicle-start / vehicle-end;
    grid-row: cv-start / cv-end;
    position: relative;

}
